.heading {
    text-align: center;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: flex-start;
    align-items: stretch;
    width: 40rem;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    input, textarea, button {
        padding: .5rem .75rem;
        font-size: 1rem;
        font-family: inherit;
    }
}
